@import './variables.css';

/* Navbar links can be styled here if needed */
.navbar-link {
  text-decoration: none;
  color: white;
}

.navbar-title {
  flex-grow: 1;
  text-decoration: none;
  color: white;
}

.navbar-buttons {
  display: flex;
  gap: var(--spacing-md);
}

/* Active navigation link style */
.active-nav-link {
  background-color: rgba(255, 255, 255, 0.2) !important;
  font-weight: bold !important;
  border-bottom: 2px solid white !important;
}
